@model Carsales.Models.VehicleProperty

@{
    @ViewBag.Header;
    string common = ViewBag.CommonPartialView;
    string vehicle = ViewBag.VehiclePartialView;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="jumbotron dl-horizontal col-md-10">
        <div class="form-group">
            @Html.Partial(common, Model)
            @Html.Partial(vehicle, Model)
        </div>
        <br />
        <div>
            @Html.ActionLink("Edit", "Edit", "Vehicle", new { id = Model.CommonProperty.Id }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
            @Html.ActionLink("Delete", "Delete", "Vehicle", new { id = Model.CommonProperty.Id }, htmlAttributes: new { @class = "btn btn-primary", @role = "button", onclick = "return confirm('Are sure wants to delete?')" })
            @Html.ActionLink("Back", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
        </div>
    </div>
}
