@using PagedList.Mvc;
@model PagedList.PagedList<Carsales.Models.CommonProperty>

<table class="table">
    <thead>
        <tr>
            <th>
                VehicleType
            </th>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Engine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Vehicle", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Vehicle", new { id = item.Id }, null)
                    @*@Html.ActionLink("Edit", "Edit", "Home", new { id = item.Id, vehicleType = item.VehicleType }, null)*@
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    Page @Model.PageNumber of @Model.PageCount
</div>
